<h1>Stupid coaching</h1>
<form action="reply" method="get">
  <label for="question">Ask you coach anything:</label><br>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
